.cart {
    position: fixed;
    top: 0;
    right: -450px;
    width: 450px;
    height: 100%;
    background-color: #1b1a20;
    box-sizing: border-box;
    -webkit-transition: right .2s;
    transition: right .2s;
}

.cart-btn{
    position: absolute;
    background-color: #000;
    background-size: 50%;
    left: -60px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    color: rgb(248, 225, 93);
    font-size: 50px;
    text-align: center;
}

.cart-open{
    right: 0;
}

.cart-closed {
    position: absolute;
    background-color: #000;
    background-size: 50%;
    left: -60px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-icon{
    color: rgb(248, 225, 93);
    font-size: 40px;
    
    
}

.cart-content {
    height: 100%;
    overflow-y: scroll;
}

.cart-header {
    color: #ececec;
    box-sizing: border-box;
    text-align: center;
    padding: 45px 0;
}

.empty-cart {
    color: #ececec;
    text-align: center;
    line-height: 40px;
}
